window.AppContainer = React.createClass({
  render: function() {
    return(
      <div className="limited-wrapper -app -center-around">
        <MobileDefault images={this.props.images}/>
        <SectionMessageMid title={this.props.translations.title} translations={this.props.translations} option="app" />
      </div>
    )

  }
})

window.AppPromo = React.createClass({
  render: function() {
    var images = $.parseJSON(this.props.images);
    var imagesDevice = $.parseJSON(this.props.imagesDevice);
    return(
      <section className="-flex-center pure-u-1 app-container section-container -skew-container-inverted" id="app">
        <SliderContainer images={images} />
        <AppContainer images={imagesDevice} translations={this.props.translations} />
      </section>
    )
  }
})