window.CoinInfo = React.createClass({
  getInitialState: function() {
    return {
      symbol: '',
      name: '',
      update: '',
      change: '',
      price: '',
      volumen: ''
    };
  },
  render: function() {
    var self = this;
    self.state.symbol = self.props.symbol.toUpperCase();
    self.state.name = self.props.name;
    self.state.update = self.props.update;
    self.state.change = self.props.change;
    self.state.price = self.props.chcprice/self.props.price;
    self.state.volumen = self.props.volumen;
    return(
      <li className="pure-u-4-5 pure-u-sm-1-2 item">
        <h4 className="main-title -smallsize -left -bold currency" id={this.state.name}>{this.state.symbol}</h4>
        <div className="pure-u-13-24 slide-interruptor -off">
          <div className=" button -coin">
            <input type="hidden" className="update" id="update" value={this.state.update}></input>
            <input type="hidden" className="change" id="change" value={this.state.change}></input>
            <input type="hidden" className="price" id="price" value={this.state.price}></input>
            <input type="hidden" className="volumen" id="volumen" value={this.state.volumen}></input>
          </div>
        </div>
      </li>
    )
  }
})

window.CoinDetails = React.createClass({
  render: function() {
    return(
      <ul className="pure-u-22-24 pure-u-md-1-2 pure-u-xl-7-24 two-column-list -currency-data">
        <li className="pure-u-4-5 pure-u-sm-1-2 item">
          <h4 className="main-title -smallsize -left -bold -fullwidth">{this.props.text.name} </h4>
          <p className="tag-text -white coin-name -capitalize">Bitcoin</p>
        </li>
        <li className="pure-u-4-5 pure-u-sm-1-2 item">
          <h4 className="main-title -smallsize -left -bold -fullwidth">{this.props.text.last_price}</h4>
          <p className="tag-text -white coin-priceusd">0.00000387468 BTC/CHC</p>
        </li>
        <li className="pure-u-4-5 pure-u-sm-1-2 item">
          <h4 className="main-title -smallsize -left -bold -fullwidth">{this.props.text.vol}</h4>
          <p className="tag-text -white coin-volume24">55659.64$</p>
        </li>
        <li className="pure-u-4-5 pure-u-sm-1-2 item">
          <h4 className="main-title -smallsize -left -bold -fullwidth">{this.props.text.last_update}</h4>
          <p className="tag-text -white coin-update">2:24 min</p>
        </li>
        <li className="pure-u-4-5 pure-u-sm-1-2 item">
          <h4 className="main-title -smallsize -left -bold -fullwidth">{this.props.text.change}</h4>
          <p className="tag-text -yellow coin-change">0.8%</p>
        </li>
      </ul>
    )
  }
})

window.ChavezcoinDetails = React.createClass({
  render: function() {
    var price = this.props.price;
    return(
      <ul className=" pure-u-22-24 pure-u-md-1-2 pure-u-lg-10-24 pure-u-xl-9-24 two-column-list -currency-price">
        <li className="pure-u-1 item reward">
          <h4 className="main-title -smallsize -left -bold -fullwidth">
            {this.props.text.you_got}
            <span>4.56</span>
            <span className="red">Chavez</span>
            <span className="yellow">coin</span>
          </h4>
        </li>
        <li className="pure-u-1 item current-price">
          <h4 className="main-title -left -bold -fullwidth">
            CHC =
            <span className="yellow"> ${price}</span>
          </h4>
        </li>
      </ul>
    )
  }
})

window.CoinsList = React.createClass({
  getInitialState: function() {
    return {
      coinList: [],
      chavezcoinprice: '1.00',
      coins: [
        {
          volume_usd: "1413660000.0",
          available_supply: "16600250.0",
          id: "bitcoin",
          last_updated: "1506990261",
          market_cap_usd: "73125595273.0",
          name: "Bitcoin",
          percent_change_1h: "0.16",
          percent_change_7d: "12.27",
          percent_change_24h: "0.13",
          price_btc: "1.0",
          price_usd: "4405.09",
          rank: "1",
          symbol: "BTC",
          total_supply: "16600250.0"
        }
      ],
      control: 0,
      translations: {}
    };
  },
  render: function() {
    var self = this,
        coins = $.parseJSON($('.coins').attr('value'));
    self.state.translations = self.props.translations;
    if (coins[0].id) {
      self.state.coins = coins;
    }
    $.each(this.state.coins, function(key, coin) {
      self.state.coinList.push(<CoinInfo key={coin.symbol}  symbol={coin.symbol} name={coin.name} volumen={coin[Object.keys(coin)[6]]} change={coin.percent_change_24h} price={coin.price_usd} update={coin.last_updated} chcprice={self.state.chavezcoinprice} />);
      if (self.state.control == 13) {
        return false;
      }
      self.state.control++;
    });
    return(
      <div className="limited-wrapper price-container -flex-center">
        <ul className="pure-u-22-24 pure-u-md-1-2 pure-u-xl-1-3 two-column-list -currency-container">{this.state.coinList}</ul>
        <CoinDetails text={self.state.translations} />
        <ChavezcoinDetails text={self.state.translations} price={this.state.chavezcoinprice} />
        <h4 className=" main-title -midsize message">{self.state.translations.title}</h4>
      </div>
    )

  }
})