window.FaqContent = React.createClass({
  render: function() {
    var question = this.props.faq.question;
    var answer = this.props.faq.answer;
    return(
      <article className="faq-wrapper">
        <h3 className="faq main-title -black -left -fullwidth">
          <i className="cross">+</i>
          {question}
        </h3>
        <div className="answer">
          <p className="tag-text -black">{answer}</p>
        </div>
      </article>
    )
  }
})

window.FaqContainer = React.createClass({
  render: function() {
    var faqs = [];
    this.props.faqList.forEach(function(faq) {
      faqs.push(<FaqContent faq={faq} key={faq.id} />);
    });
    return(
      <div className="-flex-center pure-u-1 faq-container section-container" id="faq">
        <SectionMessage title={'Preguntas frecuentes'} message={'¿Eres nuevo en el mundo de las criptomonedas? No te preocupes. Misión Robinson tiene las respuestas que buscas.'} />
        <div className="limited-wrapper faqs-list">{faqs}</div>
        <div className="limited-wrapper -center-around -tablet-bye">
          <div className="device-illustration tablet-horizontal">
            <figure className="device-background">
              <img className="image" src="/assets/chavez-c424385f364a2493f18a7a93f6a8b6a9c1ad6e6260eb173c58d759e0a65bdd43.jpg"></img>
            </figure>
            <a className="button button-link" href="#inicio"></a>
          </div>
          <div className="pure-u-1 pure-u-lg-1-3 content">
            <h3 className="pure-u-1 main-title -black -bold _marginbottom-md -fullwidth">"¡No hay vuelta a atrás!". Hugo Chávez</h3>
          </div>
        </div>
      </div>
    )

  }
})

window.FaqList = React.createClass({
  render: function() {
    var faqs = $.parseJSON(this.props.faqs);
    return(
      <FaqContainer faqList={faqs} />
    )
  }
})