window.GuideContainer = React.createClass({
  getInitialState: function() {
    return {
      option: [],
      messages: '',
      title: '',
      video_path: '',
      coinsGroup: [],
      coinAnimated: [],
      stars: [],
      language: '-español',
    };
  },
  render: function() {
    var self = this;
    self.state.option = self.props.option;
    self.state.messages = self.props.translations.text;
    self.state.title = self.props.translations.title;
    switch (self.state.option) {
      case "yellow":
        self.state.video_path = self.props.video_path;
        for (var i = 0; i < 5; i++) {
          self.state.coinAnimated.push(
            <div key={"coinSpan-" + i} className={"coin-animated coin coin-" + i}>
              <div className="front"></div>
              <div className="front_b"></div>
              <div className="back"></div>
              <div className="back_b"></div>
            </div>
          )
        }
        return(
          <div className="pure-u-1 guide -inverted -yellow">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" translations={self.props.translations} />
                <VideoContainer video_path={self.state.video_path} />
              </div>
              <div className=" pure-u-2-5 animation-container -coins">
                <div className="coinAnimated-container">
                  {self.state.coinAnimated}
                </div>
              </div>
            </div>

          </div>
        )
        break;
      case "blue":
        for (var i = 0; i < 8; i++) {
          self.state.stars.push(<span key={"span-" + i} className="animated-star"><i className="fa fa-star"></i></span>)
        }
        return(
          <div className="pure-u-1 guide -blue -after-inverted">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" translations={self.props.translations} />
              </div>
              <div className=" pure-u-2-5 animation-container -stars">
                {self.state.stars}
              </div>
            </div>
          </div>
        )
        break;
      default:
        self.state.language = self.props.language.replace(/\//g, "");
        return(
          <div className="pure-u-1 guide -inverted -red" id="wallet">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" translations={self.props.translations} />
              </div>
              <div className="pure-u-2-5 animation-container -chavez">
                <figure className={'pure-u-1 talking-chavez ' + self.state.language}>
                  <span className="comic-globe"></span>
                </figure>
              </div>
            </div>
          </div>
        )
        break;
    }
  }
})

window.GuideSection = React.createClass({
  render: function() {
    var video = "<%= asset_path('comment.mp4') %>";
    var pathname = window.location.pathname;
    var path = '';
    if (pathname == '/es' || pathname == '/en' || pathname == '/kr' || pathname == '/ch') {
      path = pathname;
    }else {
      path = '/es'
    }
    return(
      <section className="pure-u-1 guide-container section-container _nopadding -flex-center">
        <div className="pure-u-1 guide-wrapper" id="guide">
          <GuideContainer option="yellow" translations={this.props.translations.yellow_section} video_path={video} />
          <GuideContainer option="blue" translations={this.props.translations.blue_section} />
          <GuideContainer option="red" translations={this.props.translations.red_section} language={path} />
        </div>
      </section>

    )
  }
})