window.GuideContainer = React.createClass({
  getInitialState: function() {
    return {
      option: [],
      messages: '',
      title: '',
      video_path: '',
      coinsGroup: [],
      coinAnimated: [],
      stars: [],
      language: '-español',
    };
  },
  render: function() {
    var self = this;
    this.state.option = this.props.option;
    this.state.messages = this.props.text;
    this.state.title = this.props.title;
    this.state.language = this.props.language;
    switch (this.state.option) {
      case "yellow":
        self.state.video_path = this.props.video_path;
        for (var i = 0; i < 5; i++) {
          self.state.coinAnimated.push(
            <div key={"coinSpan-" + i} className={"coin-animated coin coin-" + i}>
              <div className="front"></div>
              <div className="front_b"></div>
              <div className="back"></div>
              <div className="back_b"></div>
            </div>
          )
        }
        return(
          <div className="pure-u-1 guide -inverted -yellow">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" messages={this.state.messages} title={this.state.title} />
                <VideoContainer video_path={this.state.video_path} />
              </div>
              <div className=" pure-u-2-5 animation-container -coins">
                <div className="coinAnimated-container">
                  {this.state.coinAnimated}
                </div>
              </div>
            </div>

          </div>
        )
        break;
      case "blue":
        for (var i = 0; i < 8; i++) {
          self.state.stars.push(<span key={"span-" + i} className="animated-star"><i className="fa fa-star"></i></span>)
        }
        return(
          <div className="pure-u-1 guide -blue -after-inverted">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" messages={this.state.messages} title={this.state.title} />
              </div>
              <div className=" pure-u-2-5 animation-container -stars">
                {this.state.stars}
              </div>
            </div>
          </div>
        )
        break;
      default:
        return(
          <div className="pure-u-1 guide -inverted -red" id="wallet">
            <div className="limited-wrapper -flex-center">
              <div className="limited-wrapper -flex-center -guide">
                <SectionMessageMid option="guide" messages={this.state.messages} title={this.state.title} />
              </div>
              <div className="pure-u-2-5 animation-container -chavez">
                <figure className={'pure-u-1 talking-chavez ' + this.state.language}>
                  <span className="comic-globe"></span>
                </figure>
              </div>
            </div>
          </div>
        )
        break;
    }
  }
})

window.GuideSection = React.createClass({
  render: function() {
    var yellow = $.parseJSON(this.props.yellow);
    var blue = $.parseJSON(this.props.blue);
    var red = $.parseJSON(this.props.red);
    var video = "<%= asset_path('comment.mp4') %>";
    return(
      <section className="pure-u-1 guide-container section-container _nopadding -flex-center">
        <div className="pure-u-1 guide-wrapper" id="guide">
          <GuideContainer option="yellow" title="¿Qué es Chavezcoin?" text={yellow} video_path={video} />
          <GuideContainer option="blue" title="Obtener y usar Chavezcoin es más fácil que ganar las elecciones con Tibisay" text={blue} />
          <GuideContainer option="red" title="Chavezcoin es más seguro que el palacio de Miraflores" text={red} />
        </div>
      </section>

    )
  }
})