window.HeaderCount = React.createClass({
  render: function() {
    var price = this.props.price;
    return(
      <div className="count-container">
        <div className="planet-rotate"></div>
        <figure className="chavezcoin">
          <img src="<%= asset_path('coin.png') %>" className="coin"></img>
        </figure>
        <div className="equal">
          =
        </div>
        <div className="usd">
          ${price}.00
        </div>
      </div>
    )
  }
})

window.SkewFlag = React.createClass({
  render: function() {
    var images = this.props.images;
    return(
      <div className="limited-wrapper -flex-center">
        <section className="inner-content">
          <div className="abstract-banner-content">
            <TransactionContainer type='blur' />
            <HideCoinAnimation />
            <h2 className="tag-text -banner -lightgrey -midsize">
              Dispara tus niveles de patria hasta las nubes.
            </h2>
            <div className="pure-u-1 buttons-container">
              <a className="main-button -blue" href={this.props.blueButtonLink} >Gana Chavezcoin</a>
              <a className="main-button -red" href="#">Descargar Wallet</a>
            </div>
          </div>
          <HeaderCount price={this.props.chcprice} />
          <ActionMobile images={images} />
        </section>
      </div>
    )
  }
})

window.HeaderHome = React.createClass({
  render: function() {
    var images = $.parseJSON(this.props.images);
    return(
      <header className="pure-u-1">
        <section className="abstract-banner pure-u-1" id="inicio">
          <div className="pure-u-1 skew-container-abstract -flag-color">
          </div>
          <SkewFlag images={images} chcprice='1' blueButtonLink={this.props.blueButtonLink} />
        </section>
      </header>
    )
  }
})