window.CoinContainer = React.createClass({
  render: function() {
    var markets = this.props.markets;
    var time = this.props.time;
    return(
      <section className="-flex-center pure-u-1 market-container section-container" id="market">
        <SectionMessageWhite title={'¡Exprópiense esas divisas!'} message={'Puedes cambiar tus ChavezCoin a la moneda que quieras. Aquí podrás ver una guía de precios y una lista de criptomercados.'} />
        <CoinsList />
        <SectionMessageWhite title={'Webs de Intercambio'} message={''} />
        <MarketsList marketlist={markets.ticker}  time={time} />
      </section>

    )
  }
})



window.MarketExchange = React.createClass({
  getInitialState: function() {
    return {
      markets: {},
      time: ''
    }
  },
  render: function() {
    this.state.markets = $.parseJSON(this.props.markets);
    this.state.time = window.formatTime(this.state.markets.timestamp);
    return(
      <CoinContainer markets={this.state.markets} time={this.state.time} />
    )
  }
})
