window.ActionMobile = React.createClass({
  getInitialState: function() {
    return {message: '', class: '', images: []};
  },
  render: function() {
    var self = this;
    this.state.class = this.props.class;
    this.state.message = this.props.message;
    this.props.images.forEach(function(image) {
      self.state.images.push(<img className="slider-image -devise" src={image.image} key={image.id}></img>);
    });
    return(
      <div className={"device-illustration mobile-normal " + this.state.class}>
        <div className="speaker"></div>
        <div className="button -devise">
          <span className="tool-tip">{this.state.message}</span>
        </div>
        <div className="device-image-container -backgrounda slider-container -devise">
          {this.state.images}
        </div>
      </div>
    )
  }
})

window.MobileDefault = React.createClass({
  getInitialState: function() {
    return {class: '', images: []};
  },
  render: function() {
    var self = this;
    this.state.class = this.props.class;
    this.props.images.forEach(function(image) {
      self.state.images.push(<img className="image" src={image.image} key={image.id}></img>);
    });
    return(
      <div className={"device-illustration mobile-normal " + this.state.class}>
        <div className="speaker"></div>
        <a className="button-no-js" href="#inicio">
        </a>
        <div className="store-badges">
          {this.state.images}
        </div>
      </div>
    )
  }
})