window.ActionMobileEnglish = React.createClass({
  render: function() {
    var images = [];
    this.props.images.forEach(function(image) {
      if (images.length < 3) {
        images.push(<img className="slider-image -devise" src={image.image} key={image.id}></img>);
      }
    });
    return(
      <div className="device-illustration mobile-normal -app-section">
        <div className="speaker"></div>
        <div className="button -devise">
          <span className="tool-tip">Click me!</span>
        </div>
        <div className="device-image-container -backgrounda slider-container -devise">
          {images}
        </div>
      </div>
    )
  }
})

window.ActionMobile = React.createClass({
  render: function() {
    var images = [];
    this.props.images.forEach(function(image) {
      images.push(<img className="slider-image -devise" src={image.image} key={image.id}></img>);
    });
    return(
      <div className="device-illustration mobile-normal -app-section">
        <div className="speaker"></div>
        <div className="button -devise">
          <span className="tool-tip">¡Clickeame, soy genial!</span>
        </div>
        <div className="device-image-container -backgrounda slider-container -devise">
          {images}
        </div>
      </div>
    )
  }
})

window.MobileDefaultEnglish = React.createClass({
  render: function() {
    var images = [];
    this.props.images.forEach(function(image) {
      images.push(<img className="image" src={image.image} key={image.id}></img>);
    });
    return(
      <div className="device-illustration mobile-normal -app-section">
        <div className="speaker"></div>
        <a className="button-no-js" href="#inicio">
        </a>
        <div className="store-badges">
          {images}
        </div>
      </div>
    )
  }
})


window.MobileDefault = React.createClass({
  render: function() {
    var images = [];
    this.props.images.forEach(function(image) {
      images.push(<img className="image" src={image.image} key={image.id}></img>);
    });
    return(
      <div className="device-illustration mobile-normal -app-section">
        <div className="speaker"></div>
        <a className="button-no-js" href="#inicio">
        </a>
        <div className="store-badges">
          {images}
        </div>
      </div>
    )
  }
})