window.SectionMessageMid = React.createClass({
  render: function() {
    var messagesIndividual = [];
    var messages = this.props.messages;
    var contrrol = 1;
    var option = this.props.option;
    this.props.messages.forEach(function(message) {

      switch (option) {
        case 'app':
          messagesIndividual.push(<p className="tag-text -left-center -white" key={contrrol} >{message.text}</p>);
          break;
        case 'side':
          messagesIndividual.push(<p className="tag-text -left-center" key={contrrol} >{message.text}</p>);
          break;
        default:
          messagesIndividual.push(<p className="tag-text -white _marginbottom-md -midsize -left" key={contrrol} >{message.text}</p>);
          break;
      }
      contrrol++;
    });
    switch (option) {
        case 'app':
          return(
            <div className="pure-u-1 pure-u-lg-1-3 content">
              <h3 className="pure-u-1 main-title -left -bold _marginbottom-md -left-center -fullwidth">{this.props.title}</h3>
              {messagesIndividual}
            </div>
          )
          break;
        case 'side':
          return(
            <div className="pure-u-1 pure-u-lg-1-3 content">
              <h3 className="pure-u-1 main-title -left -bold _marginbottom-md -left-center -fullwidth -black">{this.props.title}</h3>
              {messagesIndividual}
            </div>
          )
          break;
        default:
          return(
            <div className="menssage-container">
              <h3 className="main-title -midsize -left guide-expand">
                <i className="cross">+</i>
                <span className="title">{this.props.title}</span>
              </h3>
              {messagesIndividual}
            </div>
          )
          break;
    }
  }
})

window.SectionMessage = React.createClass({
  render: function() {
    return(
      <div className="menssage-container">
        <h3 className="main-title -bold -black _marginbottom-md -fullwidth">{this.props.title}</h3>
        <p className="tag-text -center -black _marginbottom-md">{this.props.message}</p>
      </div>
    )
  }
})

window.SectionMessageWhite = React.createClass({
  render: function() {
    return(
      <div className="menssage-container">
        <h3 className="main-title -bold _marginbottom-md -fullwidth">{this.props.title}</h3>
        <p className="tag-text -center -white _marginbottom-md">{this.props.message}</p>
      </div>
    )
  }
})