window.CounterContainer = React.createClass({
  render: function() {
    var type = this.props.type;
    var total = this.props.totalchc;
    if (type == 'blur' || type == 'blur-nav') {
      return(
        <div className="blur-counter-container">
          <input className="total_transactions" max="100" min="0" step="1" type="hidden" defaultValue={total} ></input>
          <div className={"pure-u-1 transaction-counter -" + type}>
            <p className="pure-u-1 tag-text -lightblack -center">
              Disponibles
            </p>
            <div className="background"></div>
          </div>
        </div>
      )
    }
  }
})



window.TransactionContainer = React.createClass({
  getInitialState: function() {
    return {secondsElapsed: 0};
  },
  tick: function() {
    this.setState({secondsElapsed: this.state.secondsElapsed + 5});
  },
  componentDidMount: function() {
    this.interval = setInterval(this.tick, 5000);
  },
  componentWillUnmount: function() {
    clearInterval(this.interval);
  },
  render: function() {
    var type = this.props.type;
    if (type == 'blur' || type == 'blur-nav') {
      cantidad = 31000000;
      return(
        <CounterContainer type={type} totalchc={cantidad} />
      )
    }else {
    var messages = [{"text": "Chavezcoin está destinada al éxito; su tendencia es la de crecer cada vez más, crece junto a nosotros, deolvamos la grandeza a Venezuela"}];
      var graphicData = $.parseJSON(this.props.graphicData);
      return(
        <section className="pure-u-1 transaction-container section-container -skew-container">
          <div className="limited-wrapper">
            <div className="device-illustration tablet-horizontal">
              <div className="background"></div>
              <GraphicContainer graphicData={graphicData} />
              <span className="button graphic-details"></span>
            </div>
            <SectionMessageMid title={"La gráfica no miente"} messages={messages} option="side" />
          </div>
        </section>
      )
    }
  }
})