window.VideoContainer = React.createClass({
  render: function() {
    var video = this.props.video_path;
    return(
      <div className="video-container pure-u-1">
        <video className="main-video" src={video} ></video>
        <div className="video-controls">
          <button className="play-btn">
            <i className="fa fa-pause"></i>
            <i className="fa fa-play"></i>
          </button>
          <span className="curtimetext">00:00</span>
          <div className="time-slider">
            <input className="seekslider range-slider -time-slider" max="100" min="0" step="1" type="range" defaultValue="0"></input>
            <div className="fill"></div>
          </div>
          <span className="durtimetext">
            00:00
          </span>
          <button className="mutebtn">
            <i className="fa fa-volume-down"></i>
            <i className="fa fa-volume-up"></i>
            <i className="fa fa-volume-off"></i>
          </button>
          <input className="volumeslider range-slider" max="100" min="0" step="1" type="range" defaultValue="80"></input>
          <button className="fullscreenbtn">
            <i className="fa fa-arrows-alt"></i>
          </button>
        </div>
      </div>

    )
  }
})
