%section.-flex-center.pure-u-1.team-container.section-container.-skew-container-inverted#team
  %h3.pure-u-1.main-title.-black.-bold._marginbottom-md
    Los Chavengers
  %p.tag-text.-center._marginbottom-md
    El equipo de Chavezcoin está trabajando constantemente en revolucionar el mundo de las cryptodivisas para poder brindarle a Venezuela una nueva era de prosperidad.
  .limited-wrapper.members.-flex-around
    %article.photo-marc.-member
      %figure.photo
        = image_tag('alex.jpg', class: 'avatar')
      %ul.shadow-title
        %li.text-container
          %p.text
            Alexander
        %li.text-container
          %p.text
            Pulido
        %li.text-container
          %p.border-button.-black
            Bio
        %li.text-container.-white
          %p.text
            Programador
    %article.photo-marc.-member
      %figure.photo
        = image_tag('alex.jpg', class: 'avatar')
      %ul.shadow-title
        %li.text-container
          %p.text
            Daniel
        %li.text-container
          %p.text
            Piña
        %li.text-container
          %p.border-button.-black
            Bio
        %li.text-container.-white
          %p.text
            Diseñador
    %article.photo-marc.-member
      %figure.photo
        = image_tag('alex.jpg', class: 'avatar')
      %ul.shadow-title
        %li.text-container
          %p.text
            Moises
        %li.text-container
          %p.text
            Torres
        %li.text-container
          %p.border-button.-black
            Bio
        %li.text-container.-white
          %p.text
            Programador