%section.-flex-center.pure-u-1.faq-container.section-container#faq
  .menssage-container
    %h3.pure-u-1.main-title.-bold.-black._marginbottom-md
      Misión Robinson al rescate
    %p.tag-text.-center._marginbottom-md
      ¿Eres nuevo en el mundo de las cryptomonedas?
      No te preocupes, misión Robinson tiene las respuestas que necesitas.
  .limited-wrapper.faqs-list
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Qué es una cryptomoneda?
      .answer
        %p.tag-text.-black
          Una criptomoneda es una moneda virtual que sirve para intercambiar bienes y servicios a través de un sistema de transacciones electrónicas sin la necesidad de un intermediario. A diferencia de otros intentos de dinero electrónico, las criptomonedas incorporan los principios de la criptografía para implementar una economía segura, anónima y descentralizada.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Qué es una cartera (wallet)?
      .answer
        %p.tag-text.-black
          Es un monedero electrónico que tienes que usar para enviar y recibir cryptomonedas en todo el mundo de manera anónima y gratuita, tienes distintas versiones, para tu ordenador, móvil, tablet, e incluso online.
        %p.tag-text.-black
          No existe otro sistema aparte de éste, en el que tu cuenta no pertenezca a alguien más. Por ejemplo, si Paypal decide por alguna razón que tu cuenta ha sido mal usada, ellos tienen el poder de congelar todo el dinero pertenecientes a esa cuenta, sin consultarte. Entonces, depende de ti hacer todo lo que sea necesario para aclarar el problema y poder acceder a tus fondos.
        %p.tag-text.-white
          Con Chavezcoin tu eres dueño del la id privada y pública que conforman tu cartera. NADIE puede quitártelo.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Qué podré hacer con mis Chavezcoin?
      .answer
        %p.tag-text.-black
          Chavezcoin es simailar a la moneda oficial de cualquier país. Es una moneda descentralizada con la cual podrás comprar productos, pagar servicios o invertir. Podrśa comprar o transferir tus Chavezcoin a tus contactos donde quieran que estén, de una manera totalmente privada. También podrás cambiar tus Chavezcoin por dinero tradicional, si así lo deseas.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Por qué no hay Chavezcoin disponibles actualmente?
      .answer
        %p.tag-text.-black
          Chavezcoin está basado en un nuevo y revolucionario sistema tecnológico que va a facilitar el acceso a las cryptodivisas para todas aquellas personas que tienen poca o ninguna experiencia con este tipo de sistema.
        %p.tag-text.-black
          Uno de los objetivos de Chavezcoin es la de proveer una alternativa monetaria que ayude a solventar la crisis económica de Venezuela, por eso nuestro equipo se esfuerza por desarrollar nuevas características y ventajas que no podrás encontrar en ninguna cryptomoneda, esto leva tiempo. Por nuestra página web podrás ver un anuncio que indique la fecha de salida, cuando la fase de desarrollo esté terminada.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Cuántas Chavezcoin hay en existencia?
      .answer
        %p.tag-text.-black
          El suministro de las chavezcoin sera igual al de la poblacion actual venezolana mas de 30 millones. Ni una sola moneda mas puede existir.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Cómo puedo obtener Chavezcoin?
      .answer
        %p.tag-text.-black
          A diferencias de otras criptomonedas, Chavezcoin no sera minada. No dejaremos que las monedas caigan en manos de los pocos que tienen los recursos para sacar ventaja y minarlas mucho mas que una persona normal en cambio vamos a distribuir las monedas en nuestra página web. Por supuesto, también podrás comprar comprar y vender Chavezcoin en sitios web de cambio.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Cuál es el valor estimado de Chavezcoin?
      .answer
        %p.tag-text.-black
          El valor de salida de un Chavezcoin será de $1, a partir de éste punto, el valor de la moneda irá en aumento.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Cómo puedo crear una cuenta?
      .answer
        %p.tag-text.-black
          Debes hacer click en "Ingresar" en el menu de Chavezcoin.com. Serás redireccionado a una página para ingresar al sistema; ahí sólo debes hacer click en "crea una cuenta", luego debes ingresar tu email en el cuadro de texto y hacer click en aceptar.
        %p.tag-text.-black
          Un correo será enviado para verificar que tu email sea real y de tu propiedad, debes ingresar a tu correo y hacer click en el link de verificación; una vez hecho esto, el sistema te solicitará que ingreses una contraseña para completar tu registro, tu cuenta será creada y estará completamente operacional.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Es seguro?
      .answer
        %p.tag-text.-black
          Las cryptomonedas, son actualmente las divisas mas seguras que existen. A diferencia del dinero impreso, tus chavezcoin no serán robadas ni tampoco podrás perderlas. Ningún banco validará las transacciones ni te cobrará comisiones por ello, es TU dinero y nadie podrá investigar o espiar qué haces con él.
    %article.faq-wrapper
      %h3.faq.main-title.-black.-left.-fullwidth
        %i.cross
          +
        ¿Qué es un referido?
      .answer
        %p.tag-text.-black
          Los Referidos (del inglés referrer) son personas a quien tú recomiendas una empresa o servicio, y éstos prueban o se registran en dichos servicios. Estos serían tus referidos.