%section.pure-u-1.guide-container.section-container._nopadding#guide.-flex-center
  .pure-u-1.guide-wrapper
    .pure-u-1.guide.-inverted.-yellow#guide
      .limited-wrapper.-flex-center.-guide
        .menssage-container
          %h3.main-title.-midsize.-left.guide-expand
            %i.cross
              +
            %span.title
              ¿Qué es Chavezcoin?
          %p.tag-text.-white
            ChavezCoin es una nueva y revolucionaria cryptomoneda, cambiará tu forma de ver el dinero y te abrirá las puertas a un futuro brillante, donde los problemas de las divisas tradicionales no existen.
        .video-container.pure-u-1
          = video_tag("comment.mp4", :controls => false, :autobuffer => true, :autoplay => false, :class => 'main-video')
          .video-controls
            %button.play-btn
              %i.fa.fa-pause
              %i.fa.fa-play
            %span.curtimetext 00:00
            .time-slider
              %input{:type => 'range', :min => '0', :max => '100', :value => '0', :step => '1', :class => 'seekslider range-slider -time-slider'}
              .fill
            %span.durtimetext
              00:00
            %button.mutebtn
              %i.fa.fa-volume-down
              %i.fa.fa-volume-up
              %i.fa.fa-volume-off
            %input{:type => 'range', :min => '0', :max => '100', :value => '80', :step => '1', :class => 'volumeslider range-slider'}
            %button.fullscreenbtn
              %i.fa.fa-arrows-alt
    .pure-u-1.guide.-blue.-after-inverted
      .limited-wrapper.-flex-center.-guide
        .menssage-container
          %h3.main-title.-midsize.-left.guide-expand
            %i.cross
              +
            %span.title
              Obtener y usar Chavezcoin es más fácil que ganar las elecciones con Tibisay
          %p.tag-text.-white
            Al descargar la aplicación y realizar el registro en nuestra página, el sistema automáticamente generará un monedero encriptado en el cual podrás guardar tus CC y también usarlos. Si deseas realizar alguna transferencia o cambio, se genera un ID único asociado a tu monedero que funciona como un número de cuenta bancario y el cual es imposible de rastrear, es totalmente anónimo, enteramente seguro y cambia automáticamente cada día.
          %p.tag-text.-white
            Para obtener CC, existirán diversas formas, la primera vendrá directamente desde nosotros, ya que al ser una criptomoneda única de Venezuela y que solo podrás obtener dentro del territorio nacional, cuando realices los pasos necesarios para obtener tu monedero, te será otorgado cierta cantidad de CC.
          %p.tag-text.-white
            Otras maneras de obtener CC serían comprando directamente a algún otro usuario, con el sistema de referidos o realizando algún tipo de trueque con los venezolanos. ChavezCoin (CC) no podrá ser minada, CC será pre-minada por nuestro equipo y entregada a los usuarios por nosotros, queremos que todos los usuarios participen por igual en el futuro que está por llegar, no queremos que el poder sea para un grupo selecto, queremos que el poder de ChavezCoin esté en las manos de todos.
    .pure-u-1.guide.-inverted.-red#wallet
      .limited-wrapper.-flex-center.-guide
        .menssage-container
          %h3.main-title.-midsize.-left.guide-expand
            %i.cross
              +
            %span.title
              Chavezcoin es más seguro que el palacio de Miraflores
          %p.tag-text.-white
            La forma en la que se usa el dinero hoy en día es bastante arcaica, además de ser inseguro, puede venir acompañada de muchos impuestos y deudas. Con ChavezCoin, una criptomoneda exclusiva en Venezuela, vamos a entrar en un territorio completamente nuevo para los venezolanos de como apreciar el dinero.
          %p.tag-text.-white
            Al ser una moneda digital y encriptada, posee una de las tecnologías más seguras del mundo, a nivel de realizar transacciones, compras, ventas e intercambios. El dinero como lo conocemos requiere de intermediarios para realizar movimientos, ChavezCoin al ser una criptomoneda no necesita intermediarios y como es una moneda descentralizada, no se ve controlada por ninguna entidad gubernamental o bancaria.
          %p.tag-text.-white
            Todos los movimientos de esta criptomoneda son hechos por los mismos usuarios con tasas casi despreciables. El nivel de seguridad es con certeza, uno de los más altos del mundo gracias a la cadena de bloques, la cual no permite que sea alterada por los usuarios y ni siquiera por nosotros. Una vez la moneda esté en el internet, nada podrá detenerla.
  .pure-u-5-12.draw-container.-fixed