%header.pure-u-1
  %section.abstract-banner.pure-u-1#inicio
    .count-container
      .planet-rotate
      %figure.chavezcoin
        1
        = image_tag('coin.png', class: 'coin')
      .equal
        = '='
      .usd
        $1.00
    .pure-u-1.skew-container-abstract.-flag-color
      .limited-wrapper
        %h1.animation
          .content-animated
            .container
              %p.text
                Chavez
            %ul.list
              %li.item coin
              %li.item coin
              %li.item coin
              %li.item coin
        %h2.tag-text.-banner.-lightgrey.-midsize
          Dispara tus niveles de patria hasta las nubes.
        .pure-u-1.buttons-container
          = link_to 'Gana Chavezcoin', '#', class: 'main-button -blue'
          = link_to 'Descargar Wallet', '#', class: 'main-button -red'
    %section.pure-u-1.banner-illustrations.limited-wrapper
      .device-illustration.tablet-horizontal
        %figure.device-image-container
      .perspective-device.-leftrotation
        .device-illustration.mobile-normal.-banner
          .speaker
          .button
          %ul.app-example
            %li.header.item
              %p.tag-text.-small.-white.-center.wallet
                Chavezcoin Wallet
              %h4.main-title.-smallsize.-fullwidth.-bold
                $37,000.00
                %p.tag-text.-uppercase.-yellow.-midsmall
                  37,000.00 CHC
            %li.box.-small.item
              %p.tag-text.-midsmall
                Detalles de Mercado
            %li.box.item
              %p.tag-text.pure-u-14-24
                ChavezCoin
              %p.tag-text.-midsmall
                $1.00
              %p.tag-text.-small.pure-u-14-24
                CHC
              %p.tag-text.-small.-green
                %i.fa.fa-caret-up
                230%
            %li.box.item
              %p.tag-text.pure-u-14-24
                BitCoin
              %p.tag-text.-midsmall
                $2700.023
              %p.tag-text.-small.pure-u-14-24
                BTC
              %p.tag-text.-small.-green
                %i.fa.fa-caret-up
                17%
            %li.box.item
              %p.tag-text.pure-u-14-24
                Ethereum
              %p.tag-text.-midsmall
                $183
              %p.tag-text.-small.pure-u-14-24
                ETH
              %p.tag-text.-small.-red
                %i.fa.fa-caret-down
                23%

            %li.slider-image.-device.-hidden.-receive