%section.pure-u-1.transaction-container.section-container.-maxi-padding
  .pure-u-1.round-gradient-container
    .round-gradient-background
  .pure-u-1.pure-u-lg-13-24.transaction-counter-container
    %header.header.pure-u-1
      %h4.main-title.-smallsize.-fullwidth.-bold.-lightblack.-uppercase
        Chavezcoin Totales
    %input{:type => 'hidden', :value => '31000000', :class => 'total_transactions'}
    .pure-u-1.transaction-counter
      %p.pure-u-1.tag-text.-lightblack.-center
        Chavezcoin disponibles.
      %h4.main-title.-smallsize.-fullwidth.-bold.-lightblack.-uppercase
        = link_to 'Detalles', '#', class: 'main-button -blue graphic-details'
  .pure-u-1.pure-u-lg-11-24.graphic-container
    %header.header.pure-u-1
      %h4.main-title.-smallsize.-fullwidth.-bold.-lightblack.-uppercase
        1 CHC = $1.00
    .pure-u-1.dinamic-graphic
      .pure-u-4-5.graphic-wrapper
        .bar.-current#Jun
          2600
        .bar#May
          1420
        .bar#Apr
          740
        .bar#Mar
          1290
        .bar#Feb
          304
        .bar#Jan
          89
      .graphic-price
        %span.price.-max
          $2000
        %span.price
          $1500
        %span.price
          $1000
        %span.price
          $500
        %span.price
          $300
        %span.price
          $100
      .pure-u-4-5.graphic-days
        %span.day#Jun
          Jun '15
        %span.day#May
          May '15
        %span.day#Apr
          Apr '15
        %span.day#Mar
          Mar '15
        %span.day#Feb
          Feb '15
        %span.day#Jan
          Jan '15
      .graphic-price.-hidden
        %span.price
          2000