window.GuideSectionEnglish = React.createClass({
  render: function() {
    var yellow = $.parseJSON(this.props.yellow);
    var blue = $.parseJSON(this.props.blue);
    var red = $.parseJSON(this.props.red);
    var video = "<%= asset_path('comment.mp4') %>";
    return(
      <section className="pure-u-1 guide-container section-container _nopadding -flex-center">
        <div className="pure-u-1 guide-wrapper" id="guide">
          <GuideContainer option="yellow" title="¿What is Chavezcoin?" text={yellow} video_path={video} />
          <GuideContainer option="blue" title="Use Chavezcoin is easier than winning the presidential election with Tibisay as ally." text={blue} />
          <GuideContainer option="red" title="Chavezcoin is safer than Miraflores palace" text={red} />
        </div>
      </section>

    )
  }
})