window.GuideContainer = React.createClass({
  render: function() {
    var option = this.props.option;
    var messages = this.props.text;
    var title = this.props.title;
    if (option == "yellow") {
      var video_path = this.props.video_path;
      return(
        <div className="pure-u-1 guide -inverted -yellow">
          <div className="limited-wrapper">
            <div className="limited-wrapper -flex-center -guide">
              <SectionMessageMid option="guide" messages={messages} title={title} />
              <VideoContainer video_path={video_path} />
            </div>
          </div>

        </div>
      )
    }else if (option == "blue") {
      return(
        <div className="pure-u-1 guide -blue -after-inverted">
          <div className="limited-wrapper">
            <div className="limited-wrapper -flex-center -guide">
              <SectionMessageMid option="guide" messages={messages} title={title} />
            </div>
          </div>
        </div>
      )
    }else {
      return(
        <div className="pure-u-1 guide -inverted -red" id="wallet">
          <div className="limited-wrapper">
            <div className="limited-wrapper -flex-center -guide">
              <SectionMessageMid option="guide" messages={messages} title={title} />
            </div>
          </div>
        </div>
      )
    }

  }
})

window.GuideSectionEnglish = React.createClass({
  render: function() {
    var yellow = $.parseJSON(this.props.yellow);
    yellow = $.parseJSON(yellow);
    var blue = $.parseJSON(this.props.blue);
    blue = $.parseJSON(blue);
    var red = $.parseJSON(this.props.red);
    red = $.parseJSON(red);
    var video = "<%= asset_path('comment.mp4') %>";
    return(
      <section className="pure-u-1 guide-container section-container _nopadding -flex-center">
        <div className="pure-u-1 guide-wrapper" id="guide">
          <GuideContainer option="yellow" title="¿What is Chavezcoin?" text={yellow} video_path={video} />
          <GuideContainer option="blue" title="Get and use Chavezcoin is easier than win the presidential election with Tibisay as ally." text={blue} />
          <GuideContainer option="red" title="Chavezcoin is safer than the Miraflores palace" text={red} />
        </div>
      </section>

    )
  }
})