window.GuideSectionEnglish = React.createClass({
  render: function() {
    var yellow = $.parseJSON(this.props.yellow);
    var blue = $.parseJSON(this.props.blue);
    var red = $.parseJSON(this.props.red);
    var video = "<%= asset_path('comment.mp4') %>";
    return(
      <section className="pure-u-1 guide-container section-container _nopadding -flex-center">
        <div className="pure-u-1 guide-wrapper" id="guide">
          <GuideContainer option="yellow" title="What is Chavezcoin?" text={yellow} video_path={video} />
          <GuideContainer option="blue" title="Obtain and use ChavezCoin is easy!" text={blue} />
          <GuideContainer option="red" title="ChavezCoin is safe and intelligent!" text={red} language="-english"/>
        </div>
      </section>

    )
  }
})