window.HeaderCountEnglish = React.createClass({
  render: function() {
    return(
      <div className="count-container">
        <div className="planet-rotate"></div>
        <figure className="chavezcoin">
          <img src="<%= asset_path('coin.png') %>" className="coin"></img>
        </figure>
        <Count />
        <div className="tag-text -banner -regular -lightgrey normalize">
          <h3>Left</h3>
        </div>
      </div>
    )
  }
})

window.BannerFixedEnglish = React.createClass({
  render: function() {
    return(
      <div id="banner" className="button-banner">
        <a className="main-button -blue" href="http://chavezcoin.tk/rewardsystem" >
          Get Chavezcoin
        </a>
        <a className="main-button -red" href="http://www.mediafire.com/file/h7d1g2veam6r01v/coming-soon_0.jpg">
          Download Wallet
        </a>
      </div>
    );
  }
});

window.SkewFlagEnglish = React.createClass({
  render: function() {
    var images = this.props.images;
    return(
      <div className="limited-wrapper -flex-center">
        <div className="menssage-container _margintop-lg _paddingTop-lg _paddingBottom-md">
          <h3 className="main-title -lgsize -fullwidth">A NEW CRYPTOCURRENCY FOR VENEZUELA BY VENEZUELANS</h3>
        </div>
        <section className="inner-content">
          <div className="abstract-banner-content -normal">
            <TransactionContainerEnglish type='blur' />
            <HideCoinAnimation />
            <h2 className="tag-text -banner -lightgrey -midsize">
              Raise your assets to the moon!
            </h2>
            <div className="pure-u-1 buttons-container button-header">
              <a className="main-button -blue" href="http://chavezcoin.tk/rewardsystem" >
                Get Chavezcoin
              </a>
              <a className="main-button -red" href="http://www.mediafire.com/file/h7d1g2veam6r01v/coming-soon_0.jpg">
                Download Wallet
              </a>
            </div>
          </div>
          <HeaderCountEnglish price={this.props.chcprice} />
          <ActionMobile images={images} class='-app-section -header' message="¡click me, i'm great!"/>
        </section>
        <BannerFixedEnglish />
      </div>
    )
  }
})

window.SubscribeModalEnglish = React.createClass({
  render: function() {
    return(
      <div className="fade-screen -header pure-u-1">
        <i className="close">x</i>
        <article className="default-modal" >
          <figure className="logo -chavez"></figure>
          <p className="text tag-text -fullwidth -center">Subscribe and find out latest news of ChavezCoin</p>
          <div className="pure-u-1 buttons-container">
            <a className="main-button -blue  click-socialmedia" href="/EN#socialmedia">Subscribe</a>
          </div>
        </article>
      </div>
    );
  }
})

window.HeaderHomeEnglish = React.createClass({
  render: function() {
    var images = $.parseJSON(this.props.images);
    return(
      <header className="pure-u-1">
        <SubscribeModalEnglish />
        <section className="abstract-banner pure-u-1" id="inicio">
          <div className="pure-u-1 skew-container-abstract -flag-color"></div>
          <SkewFlagEnglish images={images} chcprice='1' blueButtonLink={this.props.blueButtonLink} />
        </section>
      </header>
    )
  }
})