window.SkewFlagEnglish = React.createClass({
  render: function() {
    var images = this.props.images;
    return(
      <div className="limited-wrapper -flex-center">
        <section className="inner-content">
          <div className="abstract-banner-content">
            <TransactionContainer type='blur' />
            <HideCoinAnimation />
            <h2 className="tag-text -banner -lightgrey -midsize">
              ¡Raise your assets to the moon!
            </h2>
            <div className="pure-u-1 buttons-container">
              <a className="main-button -blue" href={this.props.blueButtonLink} >Get Chavezcoin</a>
              <a className="main-button -red" href="#">Download Wallet</a>
            </div>
          </div>
          <HeaderCount price={this.props.chcprice} />
          <ActionMobile images={images} class='-app-section -header' message="¡click me, i'm great!"/>
        </section>
      </div>
    )
  }
})


window.HeaderHomeEnglish = React.createClass({
  render: function() {
    var images = $.parseJSON(this.props.images);
    return(
      <header className="pure-u-1">
        <div className="fade-screen -header pure-u-1">
          <i className="close">x</i>
          <article className="default-modal" >
            <figure className="logo -chavez"></figure>
            <p className="text tag-text -fullwidth -center">¡Sign up and start winning ChavezCoin!</p>
            <div className="pure-u-1 buttons-container">
              <a className="main-button -blue" href={this.props.blueButtonLink} >Get Chavezcoin</a>
            </div>
          </article>
        </div>
        <section className="abstract-banner pure-u-1" id="inicio">
          <div className="pure-u-1 skew-container-abstract -flag-color">
          </div>
          <SkewFlagEnglish images={images} chcprice='1' blueButtonLink={this.props.blueButtonLink} />
        </section>
      </header>
    )
  }
})