window.MenuLinksEnglish = React.createClass({
  render: function() {
    var self = this;
    var options = [{"name": "inicio", "first_letter": "H", "cut_name": "ome"}, {"name": "guide", "first_letter": "G", "cut_name": "uide"}, {"name": "advantages", "first_letter": "A", "cut_name": "dvantages"}, {"name": "market", "first_letter": "B", "cut_name": "uy"}, {"name": "app", "first_letter": "A", "cut_name": "pp"}, {"name": "blog", "first_letter": "B", "cut_name": "log"}, {"name": "soporte", "first_letter": "S", "cut_name": "upport"}]
    var links = [];
    options.forEach(function(option) {
      links.push(<LinkDetail link_root={self.props.link_root} name={option.name} first_letter={option.first_letter} key={option.name} cut_name={option.cut_name} />);
    });
    var session_link = [];
    if (this.props.session_link[0] == 'login') {
      session_link.push(<LinkDetail link_root={self.props.link_root} key={self.props.session_link[0]} first_letter="L" cut_name="ogin" session_link={self.props.session_link} key={self.props.session_link[0]}/>);
    }
    else {
      session_link.push(<LinkDetail link_root={self.props.link_root} first_letter="L" cut_name="ogout" session_link={self.props.session_link} key={self.props.session_link[0]}/>);
    }
    return(
      <ul className="menu-links pure-menu-list">
        {links}
        {session_link}
      </ul>
    )
  }
})

window.NavMenuEnglish = React.createClass({
  render: function() {
    var link_root = this.props.link_root;
    return(
      <nav className="pure-g nav-menu pure-menu-horizontal">
        <div className="limited-wrapper">
          <figure className="logo-container">
          </figure>
          <TransactionContainer type='blur-nav' />
          <i className="fa fa-bars slide-button"></i>
          <div className="fade-screen pure-u-1"></div>
          <div className="menu-links-container">
            <MenuLinksEnglish link_root={link_root} session_link={this.props.session_link}/>
            <h1>Hola</h1>
          </div>
        </div>
      </nav>
    )
  }
})