window.TransactionContainerEnglish = React.createClass({
  getInitialState: function() {
    return {secondsElapsed: 0};
  },
  tick: function() {
    this.setState({secondsElapsed: this.state.secondsElapsed + 5});
  },
  componentDidMount: function() {
    this.interval = setInterval(this.tick, 5000);
  },
  componentWillUnmount: function() {
    clearInterval(this.interval);
  },
  render: function() {
    var type = this.props.type;
    if (type == 'blur' || type == 'blur-nav') {
      cantidad = 31000000;
      return(
        <CounterContainer type={type} totalchc={cantidad} />
      )
    }else {
      var messages = [{"text": "ChavezCoin is destined to success, the tendency of the coin is to grow bigger and bigger"}, {"text": " Grow with us, let's make Venezuela great again."}];
      var graphicData = $.parseJSON(this.props.graphicData);
      return(
        <section className="pure-u-1 transaction-container section-container -skew-container">
          <div className="limited-wrapper">
            <div className="device-illustration tablet-horizontal">
              <div className="background"></div>
              <GraphicContainer graphicData={graphicData} />
              <span className="button graphic-details"></span>
            </div>
            <SectionMessageMid title={"The graphic doesn't lie"} messages={messages} option="side" />
          </div>
        </section>
      )
    }
  }
})