window.FormatLanguage = React.createClass({
  getInitialState: function() {
    return({
      open: false,
      languages: [
        {
          language: '/en'
        },
        {
          language: '/es'
        },
        {
          language: '/kr'
        },
        {
          language: '/ch'
        }
      ]
    });
  },

  handleChange: function(e) {
    console.log(e.target);
    console.log(e.target.value);
    location.href = "http://localhost:3000/" + e.target.value;
  },

  makeLink: function(link) {
    return (
      "<%= asset_path("+link+") %>"
    );
  },

  handleClick: function() {
    var selected = document.getElementById("menu");
    var open = this.state.open;

    if (open == false) 
      selected.classList.toggle("-open");
    else 
      selected.classList.remove("-open");

    this.setState({open: !open})
  },

  setSeleted: function() {
    var _this = this;
    var flag_path = '';
    _this.state.languages.forEach(function(language) {
      console.log(language.language);
      if(window.location.href.indexOf(language.language) > -1) {
        console.log(language.language);
        flag_path = language.language;        
      }
    });
    if(flag_path === '') {
      return(<img className="logo" src={"<%= asset_path('/assets/flags/es.png')%>"}/>);
    }else {
      return(<img className="logo" src={"<%= asset_path('/assets/flags"+flag_path+".png')%>"}/>);
    }
  },

  getOption: function() {
    var _this = this;
    var flags = [];
    var selected = '';
    var pathname = window.location.pathname;
    _this.state.languages.forEach(function(language) {
      if(window.location.href.indexOf(language.language) > -1) {
        pathname = pathname.replace(language.language, "");
      }
    });
    _this.state.languages.forEach(function(language) {
      if(window.location.href.indexOf(language.language) == -1) {
        flags.push(<a href={language.language + pathname} key={language.language + pathname} ><img className="logo" src={"<%= asset_path('/assets/flags"+language.language+".png')%>"}/></a>)
      }
    });
    return flags;
  },

  render: function() {  
    return(
      <li className="pure-menu-item menu-item">
        <div id="dropdown" className="dropdown">
          <div id="selected" onClick={this.handleClick}>
            {this.setSeleted()}
          </div>
          <div id="menu" className="dropdown-menu">
            {this.getOption()}
          </div>
        </div>
      </li>
    );
  }
});

