.coingroup-container {
  display: none;
  opacity: 0;
  transition: all .5s;
  z-index: 1;
  @include lg {
    display: block;
  }
  &:nth-child(1) {
    animation: showMoneyLong 30s infinite 2s;
    height: 100%;
    position: absolute;
    top: 20%;
    width: 100%;
  }
  &:nth-child(2) {
    left: -15%;
    position: absolute;
    top: 87.5%;
    width: 130%;
    animation: showMoney 30s infinite 2s;
  }
}

@keyframes showMoneyLong {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes showMoney {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}