.form-panel {
  @include display_flex();
  height: 100%;
  padding: 2rem 1rem;
  @include xs {
    padding: 1rem;
  }
  @include md {
    padding: 2rem 1rem;
  }
  &.-background {
    background-color: rgba($persianred, .4);
    display: none;
    @include md {
      display: flex;
    }
    > .tag-text,
    > .content > .main-title {
      text-shadow: 0 .05rem .1rem rgba($black, .2);
    }
    > .tag-text {
      align-self: flex-end;
      margin-bottom: 2rem;
    }
    > .tag-text > .link {
      font-weight: bold;
    }
    > .tag-text:hover > .link {
      color: $ripelemon;
    }
  }
  &.-form {
    align-items: center;
    background: $white;
    flex-direction: column;
    justify-content: space-around;
  }
  > .field,
  > .form-fields {
    font-family: $special-font;
    width: 90%;
    @include md {
      width: 80%;
    }
  }
  > .field {
    border: .1rem solid $wildsand;
    border-radius: .25rem;
    padding: .5rem;
    transition: all .5s;
    &:focus {
      border: .1rem solid $danube;
      outline: none;
    }
  }
  > span.tag-text {
    margin-bottom: -1.5rem;
    @include sm {
      margin-bottom: 0;
    }
    @include md {
      margin-bottom: -1.5rem;
    }
  }
}