.transaction-counter {
  @include flex_center();
  text-align: center;
  z-index: 1;
  > .numberwrap {
    background: $ripelemon;
    border-radius: 50%;
    color: $white;
    height: 3rem;
    overflow: hidden;
    padding: .35rem;
    text-align: center;
    width: 3rem;
    @include sm {
      height: 4.5rem;
      padding: 1rem;
      width: 4.5rem;
    }
    @include lg {
      height: 3rem;
      padding: .35rem;
      width: 3rem;
    }
    @include xl {
      height: 4.5rem;
      padding: 1rem;
      width: 4.5rem;
    }
    &.counted > .number{
      margin-top: -10rem;
      opacity: 0;
    }
    > .number {
      display: inline-block;
      font-family: $special-font;
      font-size: 2rem;
      font-weight: bold;
      transition: all 1s;
    }
  }
  > .tag-text {
    font-family: $primary-font-family;
    font-size: .85rem;
    margin: 1rem auto;
    order: 2;
  }
  > .main-title {
    order: 3;
  }
  &.-blur {
    border-radius: .75rem;
    margin: 1rem auto;
    overflow: hidden;
    position: relative;
    > .background {
      background: linear-gradient(rgba($black, .25), rgba($black, .75));
      box-shadow: inset 0 0 100px rgba($black, .5), 0 0 10px rgba($black, .75);
      filter: blur(.25rem);
      height: 100%;
      left: 0;
      position: absolute;
      opacity: .7;
      top: 0;
      width: 100%;
      z-index: 0;
    }
    > .numberwrap {
      background: transparent;
      color: $black;
      height: auto;
      order: 2;
      padding: 0;
      position: relative;
      width: auto;
      z-index: 1;
    }
    > .numberwrap > .number {
      color: rgba($persianred, .85);
      font-size: 5rem;
      font-weight: normal;
      line-height: 4rem;
      margin: .25rem 0;
      padding: 0;
    }
    > .tag-text {
      background: $black;
      color: $white;
      margin: 0;
      order: 1;
      padding: .15rem;
      position: relative;
      z-index: 1;
    }
  }
  &.-blur-nav {
    @extend .-blur;
    display: none;
    margin: 0;
    width: 12rem;
    @include sm {
      display: flex;
    }
    @include lg {
      display: none;
      transform: scale(.7);
    }
    > .background {
      background: linear-gradient(rgba($black, .15), rgba($black, .5));
      box-shadow: inset 0 0 50px rgba($black, .5), 0 0 10px rgba($black, .75);
      opacity: 1;
    }
    > .numberwrap > .number {
      line-height: 2.5rem;
      font-size: 2.5rem;
    }
  }
}
.normalize {
  padding: 0 100px;
}

.-hidden {
  visibility: hidden;
}
