.subscribe-form {
  @include flex_centered();
  margin-top: 2rem;
  > .fielset {
    @include flex_centered();
    background: darken($danube, 15%);
    border: .1rem solid $danube;
    border-radius: 4rem;
    overflow:hidden;
    position: relative;
    width: 25rem;
    &:hover {
      > .button {
        color: $white;
        transform: rotate(180deg);
        transition: all .5s;
      }
    }
    > .input {
      background: darken($danube, 15%);
      color: $white;
      font-family: $primary-font-family;
      font-size: 1.25rem;
      padding: 1rem;
      width: 100%;
    }
    > .button {
      @include flex_centered();
      background: linear-gradient(230deg, darken($danube, 15%) 0%, darken($persianred, 2.5%) 90%);
      border-radius: 50%;
      font-size: 2rem;
      height: 3.75rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 3.75rem;
    }
  }
}