.form-fields {
  @include display_flex();
  align-items: flex-end;
  border: none;
  padding: 0;
  &.-separated {
    justify-content: space-between;
  }
  > .field {
    @include flex_centered();
  }
  > .field > .link {
    color: lighten($scorpion, 10%);
    font-size: .75rem;
    &:hover {
      color: $ripelemon;
    }
  }
  > .field > .tag-text {
    font-size: .9rem;
  }
}