.talking-chavez {
  @include flex_center();
  animation: hideShow 4s;
  align-items: flex-end;
  height: 60%;
  overflow: hidden;
  position: absolute;
  top: 0;
  &:before {
    animation: talkingChavez 15s infinite 2s alternate;
    background: asset_url('logo.png') center center no-repeat / 100%;
    content: '';
    height: 12rem;
    margin-left: 15%;
    transition: all .5s;
    width: 12rem;
  }
  &:after {
    color: $scorpion;
    animation: write 15s infinite 2s;
    content: '';
    font-family: $secondary-font-family;
    font-size: 2rem;
    left: 1.25rem;
    position: absolute;
    text-align: center;
    top: 2rem;
    width: 13rem;
  }
}

@keyframes write {
  30% {
    opacity: 0;
  }
  32% {
    opacity: 1;
    content: 'J';
  }
  34% {
    content: 'Jo';
  }
  36% {
    content: 'Joi';
  }
  38% {
    content: 'Join';
  }
  40% {
    content: 'Join ';
  }
  42% {
    content: 'Join m';
  }
  44% {
    content: 'Join me';
  }
  46% {
    content: 'Join me ';
  }
  48% {
    content: 'Join me c';
  }
  50% {
    content: 'Join me co';
  }
  52% {
    content: 'Join me comp';
  }
  54% {
    content: 'Join me compa';
  }
  56% {
    content: 'Join me compat';
  }
  58% {
    content: 'Join me compatr';
  }
  60% {
    content: 'Join me compatri';
  }
  62% {
    content: 'Join me compatrio';
  }
  64% {
    content: 'Join me compatriot';
  }
  66% {
    content: 'Join me compatriots';
  }
  68% {
    content: 'Join me compatriots!';
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes hideShow {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes talkingChavez {
  0% {
    margin-bottom: -15rem;
  }
  10% {
    margin-bottom: -4.5rem;
  }
  20% {
    margin-bottom: -15rem;
  }
  25% {
    margin-bottom: 2rem;
  }
  30% {
    margin-bottom: 0;
  }
  70% {
    margin-bottom: 0;
  }
  75% {
    margin-bottom: 2rem;
  }
  80% {
    margin-bottom: -15rem;
  }
  90% {
    margin-bottom: -4.5rem;
  }
  100% {
    margin-bottom: -15rem;
  }
}