.abstract-banner {
  @include flex_centered();
  height: 100vh;
  position: relative;
  width: 100%;
  @include xs {
    max-height: 30rem;
  }
  @include sm {
    max-height: 40rem;
  }
  @include lg {
    max-height: 45rem;
  }
  > .limited-wrapper,
  > .limited-wrapper.-flex-center {
    align-items: center;
    height: 100%;
    z-index: 99999;
    > .inner-content {
      width: 100%;
      @include xl {
        width: 90%;
      }
    }
  }
  > .limited-wrapper > .inner-content > .abstract-banner-content {
    @include flex_centered();
    @include lg {
      width: 27.5rem
    }
    @include xl {
      width: 31.5rem;
    }
    > .animation {
      @include lg {
        margin: 2rem auto 1rem;
      }
    }
    > .tag-text {
      margin: 2rem auto;
      padding: 0 1rem;
      text-align: center;
    }
    > .blur-counter-container {
      display: none;
      width: 19rem;
      @include lg {
        display: block;
      }
    }
  }
  > .limited-wrapper > .inner-content > .device-illustration {
    display: none;
    @include lg {
      display: flex;
    }
  }
}