.comic-globe {
  animation: showHideGlobe 15s infinite 2s alternate;
  box-shadow: .25rem .25rem .8rem $black;
  background: white;
  border-radius: 50%;
  display: none;
  height: 9rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 15rem;
  @include lg {
    display: block;
  }
  &:before {
    border-color: transparent $white;
    border-style: solid;
    border-width: 0 1.5rem 1.5rem 0;
    bottom: -1.425rem;
    content: "";
    position: absolute;
    right: 6.075rem;
    z-index: 1;
  }
}

@keyframes showHideGlobe {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}