.talking-chavez {
  @include flex_center();
  animation: hideShow 4s;
  align-items: flex-end;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  &:before {
    animation: talkingChavez 20s infinite 2s alternate;
    background: asset_url('logo.png') center center no-repeat / 100%;
    content: '';
    height: 12rem;
    margin-left: 15%;
    transition: all .5s;
    width: 12rem;
  }
  &:after {
    color: $scorpion;
    animation: escribir 20s infinite 2s;
    content: '';
    font-family: $secondary-font-family;
    font-size: 2rem;
    left: 1.25rem;
    position: absolute;
    text-align: center;
    top: 2rem;
    width: 13rem;
  }
  &.en:after {
    animation: write 20s infinite 2s;
  }
  &.kr:after  {
    animation: korean 20s infinite 2s;
  }
  &.ch:after {
    animation: chinese 20s infinite 2s;
  }
}


@keyframes escribir {
  30% {
    opacity: 0;
  }
  32.5% {
    content: '|';
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  37.5% {
    content: '|';
    opacity: 1;
  }
  41.25% {
    content: 'Ú|';
  }
  42.5% {
    content: 'Ún|';
  }
  43.75% {
    content: 'Úne|';
  }
  45% {
    content: 'Únet|';
  }
  46.25% {
    content: 'Únete|';
  }
  47.5% {
    content: 'Únete |';
  }
  48.75% {
    content: 'Únete a|';
  }
  50% {
    content: 'Únete a |';
  }
  51.25% {
    content: 'Únete a m|';
  }
  52.5% {
    content: 'Únete a mi|';
  }
  53.75% {
    content: 'Únete a mi |';
  }
  55% {
    content: 'Únete a mi c|';
  }
  56.25% {
    content: 'Únete a mi ca|';
  }
  57.5% {
    content: 'Únete a mi cam|';
  }
  58.75% {
    content: 'Únete a mi cama|';
  }
  60% {
    content: 'Únete a mi camar|';
  }
  61.25% {
    content: 'Únete a mi camara|';
  }
  62.5% {
    content: 'Únete a mi camarad|';
  }
  63.75% {
    content: 'Únete a mi camarad|';
  }
  65% {
    content: 'Únete a mi camarada|';
  }
  66.25% {
    content: 'Únete a mi camarada!|';
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes write {
  30% {
    content: '|';
    opacity: 0;
  }
  32.5% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  42.5% {
    content: '|';
    opacity: 1;
  }
  43.75% {
    content: 'J|';
  }
  45% {
    content: 'Jo|';
  }
  46.25% {
    content: 'Joi|';
  }
  47.5% {
    content: 'Join|';
  }
  48.75% {
    content: 'Join |';
  }
  50% {
    content: 'Join m|';
  }
  51.25% {
    content: 'Join me|';
  }
  52.5% {
    content: 'Join me |';
  }
  53.75% {
    content: 'Join me c|';
  }
  55% {
    content: 'Join me co|';
  }
  56.25% {
    content: 'Join me comp|';
  }
  57.5% {
    content: 'Join me compa|';
  }
  58.75% {
    content: 'Join me compat|';
  }
  60% {
    content: 'Join me compatr|';
  }
  61.25% {
    content: 'Join me compatri|';
  }
  62.5% {
    content: 'Join me compatrio|';
  }
  63.75% {
    content: 'Join me compatriot|';
  }
  65% {
    content: 'Join me compatriots|';
  }
  66.25% {
    content: 'Join me compatriots!|';
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes chinese {
  30% {
    content: '|';
    opacity: 0;
  }
  32.5% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  42.5% {
    content: '|';
    opacity: 1;
  }
  43.75% {
    content: '加|';
  }
  45% {
    content: '加入|';
  }
  46.25% {
    content: '加入';
  }
  47.5% {
    content: '저를 |';
  }
  48.75% {
    content: '저를';
  }
  50% {
    content: '加入我|';
  }
  51.25% {
    content: '加入我的|';
  }
  52.5% {
    content: '加入我的同|';
  }
  53.75% {
    content: '加入我的同胞|';
  }
  55% {
    content: '加入我的同胞！|';
  }
  56.25% {
    content: '加入我的同胞！';
  }
  57.5% {
    content: '加入我的同胞！|';
  }
  58.75% {
    content: '加入我的同胞！';
  }
  60% {
    content: '加入我的同胞！|';
  }
  61.25% {
    content: '加入我的同胞！';
  }
  62.5% {
    content: '加入我的同胞！|';
  }
  63.75% {
    content: '加入我的同胞！';
  }
  65% {
    content: '加入我的同胞！|';
  }
  66.25% {
    content: '加入我的同胞！';
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes korean {
  30% {
    content: '|';
    opacity: 0;
  }
  32.5% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  42.5% {
    content: '|';
    opacity: 1;
  }
  43.75% {
    content: '저|';
  }
  45% {
    content: '저를|';
  }
  46.25% {
    content: '저를 |';
  }
  47.5% {
    content: '저를 ';
  }
  48.75% {
    content: '저를 |';
  }
  50% {
    content: '저를 클|';
  }
  51.25% {
    content: '저를 클릭|';
  }
  52.5% {
    content: '저를 클릭하|';
  }
  53.75% {
    content: '저를 클릭하세요|';
  }
  55% {
    content: '저를 클릭하세요,|';
  }
  56.25% {
    content: '저를 클릭하세요, |';
  }
  57.5% {
    content: '저를 클릭하세요, 아';
  }
  58.75% {
    content: '저를 클릭하세요, 아주|';
  }
  60% {
    content: '저를 클릭하세요, 아주 |';
  }
  61.25% {
    content: '저를 클릭하세요, 아주 좋|';
  }
  62.5% {
    content: '저를 클릭하세요, 아주 좋아|';
  }
  63.75% {
    content: '저를 클릭하세요, 아주 좋아요|';
  }
  65% {
    content: '저를 클릭하세요, 아주 좋아요!|';
  }
  66.25% {
    content: '저를 클릭하세요, 아주 좋아요!';
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}


@keyframes hideShow {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes talkingChavez {
  0% {
    margin-bottom: -15rem;
  }
  10% {
    margin-bottom: -4.5rem;
  }
  20% {
    margin-bottom: -15rem;
  }
  25% {
    margin-bottom: 2rem;
  }
  30% {
    margin-bottom: 0;
  }
  70% {
    margin-bottom: 0;
  }
  75% {
    margin-bottom: 2rem;
  }
  80% {
    margin-bottom: -15rem;
  }
  90% {
    margin-bottom: -4.5rem;
  }
  100% {
    margin-bottom: -15rem;
  }
}