.guide-wrapper {
  > .guide {
    box-shadow: 0 .3rem .85rem -.1rem rgba($black, .85);
    padding: 4rem 1rem;
    position: relative;
    transform: translateZ(1px) skewY(-2.5deg);
    > .limited-wrapper {
      transform: translateZ(1px) skewY(2.5deg);
      > .-guide > .menssage-container > .main-title > .cross {
        align-self: flex-start;
        display: inline-block;
        font-size: 1.75rem;
        font-style: normal;
        transition: all 1s;
      }
      > .-guide > .menssage-container > .tag-text,
      > .-guide > .video-container {
        display: none;
      }
    }
    &.-active {
      > .limited-wrapper > .-guide > .menssage-container > .main-title > .cross {
        transform: rotate(135deg);
      }
    }
    &.-yellow {
      background: $ripelemon;
      margin-top: -2rem;
      padding: 5rem 1rem 2rem;
      z-index: 5;
      @include lg {
        margin-top: -6rem;
        padding: 15rem 1rem 2.5rem;
      }
    }
    &.-blue {
      background: $danube;
      margin-top: -6rem;
      padding: 8.5rem 1rem 2rem;
      z-index: 4;
      @include lg {
        margin-top: -12rem;
        padding: 15rem 1rem 2rem;
      }
    }
    &.-red {
      background: $persianred;
      margin-top: -6rem;
      padding: 8.5rem 1rem 2rem;
      z-index: 3;
      @include lg {
        margin-top: -12rem;
        padding: 17.5rem 1rem 2.5rem;
      }
    }
    &.-inverted {
      transform: translateZ(1px) skewY(2.5deg);
      > .limited-wrapper {
        transform: skewY(-2.5deg);
      }
    }
  }
}