.guide-wrapper {
  > .guide {
    @include display_flex();
    align-items: flex-end;
    box-shadow: 0 .3rem .85rem -.1rem rgba($black, .85);
    padding: 4rem 1rem;
    position: relative;
    transform: translateZ(1px) skewY(-2.5deg);
    > .limited-wrapper {
      align-items: center;
      transform: translateZ(1px) skewY(2.5deg);
      > .-guide > .menssage-container > .main-title > .cross {
        align-self: flex-start;
        display: inline-block;
        font-size: 1.75rem;
        font-style: normal;
        transition: all 1s;
      }
      > .-guide > .menssage-container > .tag-text,
      > .-guide > .video-container {
        display: none;
      }
    }
    &.-active {
      > .limited-wrapper > .-guide > .menssage-container > .main-title > .cross {
        transform: rotate(135deg);
      }
    }
    &.-yellow {
      background: $ripelemon;
      margin-top: -4rem;
      padding: 5rem 1rem .75rem;
      z-index: 5;
      @include md {
        padding: 4.25rem 1rem 1.25rem;
      }
      @include lg {
        margin: -7rem 0 0;
        padding: 15rem 1rem 2rem;
      }
      @include xl {
        margin: -11rem 0 0;
        padding: 13rem 1rem 2rem;
      }
    }
    &.-blue {
      background: $danube;
      margin-top: -6rem;
      padding: 8rem 1rem 0;
      z-index: 4;
      @include md {
        padding: 8rem 1rem .5rem;
      }
      @include lg {
        margin: -7rem 0 0;
        padding: 9rem 1rem .5rem;
      }
      @include xl {
        padding: 10rem 1rem .5rem;
      }
    }
    &.-red {
      background: $persianred;
      margin-top: -6rem;
      padding: 8.75rem 1rem 1.25rem;
      z-index: 3;
      @include lg {
        margin: -7rem 0 0;
        padding: 11rem 1rem 1.5rem;
      }
      @include xl {
        padding: 10rem 1rem 1rem;
      }
    }
    &.-inverted {
      transform: translateZ(1px) skewY(2.5deg);
      > .limited-wrapper {
        transform: skewY(-2.5deg);
      }
    }
  }
}