.transaction-container {
  background: $white;
  margin: 2rem auto;
  padding-bottom: 3rem;
  z-index: 3;
  > .limited-wrapper {
    @include flex_centered();
    perspective: 80rem;
  }
  > .limited-wrapper > .tablet-horizontal {
    @include lg {
      transform: rotateY(35deg);
    }
  }
}