$gradient:  linear-gradient(230deg, $persianred 0%, $danube 50%, darken($ripelemon, 10%) 90%);
$gradient2: linear-gradient(230deg, $ripelemon 0%, $danube 50%, darken($persianred, 10%) 90%);

.skew-container-abstract {
  @include flex_centered();
  box-shadow: 0 .3rem .85rem -.1rem rgba($black, .85);
  height: 100%;
  left: 0;
  outline: .1rem solid transparent;
  position: absolute;
  top: 0;
  transform: translateZ(1px) skewY(-12deg);
  transform-origin: left;
  z-index: 3;
  &.-flag-color{
    animation: gradient 10s infinite alternate;
    background: $gradient2;
    background-attachment: fixed;
    &:before {
      animation: opacity 10s infinite alternate;
      background: $gradient;
      background-attachment: fixed;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &.-inverted {
    height: 100%;
    left: initial;
    right: 0;
    transform: translateZ(1px) skewY(12deg);
    transform-origin: right;
    > .limited-wrapper {
      transform: skewY(-12deg);
    }
  }
  &.-inverted.-blue {
    background: linear-gradient(to right, $danube, $white);
  }
  &.-back {
    z-index: -1;
  }
  > .limited-wrapper {
    height: 100%;
  }
  > .limited-wrapper > .abstract-banner-content {
    @include flex_centered();
    align-self: center;
    transform: skewY(12deg);
    @include xs {
      align-self: flex-end;
    }
    @include md {
      align-self: center;
    }
    @include lg {
      align-self: flex-end;
      width: 27.5rem
    }
    @include xl {
      width: 33rem;
    }
    > .tag-text {
      margin: 1rem auto;
      padding: 0 1rem;
      text-align: center;
    }
    > .blur-counter-container {
      display: none;
      @include lg {
        display: block;
      }
    }
  }
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}