.mobile-normal {
  @include display_flex();
  border: .1rem solid $scorpion;
  height: 30rem;
  padding: 3rem 1.5rem;
  position: relative;
  transition: all 1s;
  width: 17.5rem;
  z-index: 5;
  &.-app-section {
    transform: rotateY(-35deg);
    > .button,
    > .button-no-js {
      left: calc(50% - 1.5rem);
    }
  }
  &.-header {
    > .speaker,
    > .button,
    > .button-no-js {
      background-color: lighten($black, 12.5%);
    }
  }
  > .speaker,
  > .button,
  > .button-no-js {
    background-color: darken(lightgrey, 7.5%);
    content: '';
    position: absolute;
  }
  > .speaker {
    border-radius: 2rem;
    top: 1.5rem;
    height: .3rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
  }
  > .button,
  > .button-no-js {
    border-bottom: .1rem solid $black;
    border-radius: 50%;
    border-top: .1rem solid $black;
    cursor: pointer;
    height: 2rem;
    bottom: .5rem;
    left: calc(50% - 1rem);
    transition: all .5s;
    width: 2rem;
    &:hover {
      background-color: darken(lightgrey, 15%);
      transform: scale(1.05);
    }
    &:hover {
      > .tool-tip {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  > .button-no-js:hover + .store-badges > .image {
    opacity: 1;
  }
  > .device-image-container,
  > .store-badges {
    background-size: cover;
    border: .1rem solid lighten($scorpion, 50%);
  }
  > .device-image-container {
    background: $black;
  }
}