

.box-color {
  border-radius: 1rem;
  box-shadow: 0 .3rem .85rem -.1rem rgba($black, .85);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width:95%;
  @include sm {
    max-width: 70%;
  }
  @include lg {
    margin-left: -20rem;
    margin-right: 0;
    max-width: 27.5%;
    opacity: 0;
    transition: all 1s;
    &.-yellow,
    &.-blue {
      box-shadow: 0 .3rem .85rem -.1rem rgba($black, .85), 5px 0 10px -2px rgba($black, .85);
    }
    &.-yellow {
      border-radius: 1rem 0 0 1rem;
      z-index: 2;
    }
    &.-blue {
      border-radius: 0;
      z-index: 1;
    }
    &.-red {
      border-radius: 0 1rem 1rem 0;
    }
    &.-scrolled {
      margin-left: 0;
      opacity: 1;
    }
  }
  &.-yellow {
    background-color: $ripelemon;
  }
  &.-blue {
    background-color: $danube;
  }
  &.-red {
    background-color: $persianred;
  }
  > .content {
    text-align: center;
  }
}


