#dropdown {
	display: block;
	position: relative;
	cursor: pointer;
	
	#seleted {
		padding: .1rem;
		max-width: 3rem;
	}

	> .dropdown-menu {
		display: none;
		position: absolute;
		&:hover {
			background: unset;
		}
	 	> a {
	 		display: block;
	 		padding: .25rem .1rem;
	 		&:hover {
	 			background: rgba(black, .6);
	 		}
	 	}
	}
}
.-open {	
	display: block !important;
}	
