.round-gradient-background {
  height: 40%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewY(2.5deg);
  width: 100%;
  @include lg {
    height: 32.5%;
  }
  &:before {
    background: $white;
    border-radius: 50%;
    bottom: -140%;
    content: '';
    height: 400%;
    left: -10%;
    position: absolute;
    width: 130%;
  }
}