  .perspective-device {
    height: 100%;
    left: 0;
    perspective: 80rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    &.-leftrotation {
      transform: rotate(-5deg);
    }
  }