.main-button {
  border: none;
  border-radius: .5rem;
  font-family: $primary-font-family;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s;
  @include sm {
    font-size: 1.25rem;
  }
  &:hover {
    background-color: $ripelemon;
    color: $white;
  }
  &.-blue,
  &.-red {
    color: $white;
    text-shadow: 0 .05rem .1rem rgba($black, .2);
  }
  &.-blue {
    background-color: darken($danube, 15%);
  }
  &.-blue:hover {
    background-color: $ripelemon;
  }
  &.-red {
    background-color: lighten($persianred, 20%);
  }
  &.-yellow {
    background-color: $ripelemon;
    &:hover {
      background-color: $green_haze;
    }
  }
  &.-small {
    font-size: $medium-font-size;
  }
}