.button-banner {
	display: none;
  justify-content: center;
  height: 3rem;
  position: fixed;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($black, .75);
  
  >.main-button {
    margin-bottom: 0;
    @include sm {
      margin-left: 0;
      border-radius: 0rem;
    }
    @include lg {
      margin-left: 2rem;
      border-radius: .5rem;
    }
  }

	&.-active {
	  display: flex;
	}

  > div {
    margin: .2rem;
  }
}
