._nomargin {
  margin: 0 !important;
}

._nopadding {
  padding: 0 !important;
}

._margintop-md {
  margin-top: 2rem !important;
}

._margintop-lg {
  margin-top: 4rem !important;
}

._margintop-xl {
  margin-top: 6rem !important;
}

._marginbottom-md {
  margin-bottom: 2rem !important;
}

._marginbottom-lg {
  margin-bottom: 4rem !important;
}

._marginbottom-xl {
  margin-bottom: 6rem !important;
}

._paddingTop-md {
  padding-top: 2rem !important;
}

._paddingTop-lg {
  padding-top: 4rem !important;
}

._paddingBottom-sm {
  padding-bottom: 1rem !important;
}

._paddingBottom-md {
  padding-bottom: 2rem !important;
}

._paddingBottom-lg {
  padding-bottom: 4rem !important;
}